* { box-sizing: border-box;}

.Background {
background-image: url("Imágenes/Background.png");
width: 1853px;
height: 951px;
position: absolute;
bottom: 0;
left: 0;
animation: move 10s steps(1000) infinite forwards;
background-size: cover;
}

.Sonic {
background-image: url("Imágenes/Sprite.png");
width: 205px;
height: 205px;
position: absolute;
z-index: 5px;
top: 679px;
animation: walk 1s steps(12) infinite, moverse 5s steps(100) infinite forwards;
}

.Ground {
background-image: url("Imágenes/Ground.png");
width: 1853px;
height: 75px;
position: absolute;
bottom: 0;
left: 0;
animation: move 5s steps(1000) infinite forwards;
}

@keyframes move {
100% {background-position: -1680px 0px;}
}

@keyframes walk {
  100% { background-position: -2460px; }
}

@keyframes forward {
  100% { margin-left: 521px; }
}

@keyframes moverse {
100% {margin-left: 100%;}
}